.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-align-center {
  align-items: center;
}

.f-align-end {
  align-items: end;
}

.f-align-start {
  align-items: start;
}

.f-align-stretch {
  align-items: stretch;
}

.f-justify-start {
  justify-content: flex-start;
}

.f-justify-center {
  justify-content: center;
}

.f-justify-end {
  justify-content: flex-end;
}

.f-justify-between {
  justify-content: space-between;
}

.f-justify-around {
  justify-content: space-around;
}

.f-gap-md {
  gap: $--tbd-gap-md;
}

.f-gap-sm {
  gap: $--tbd-gap-sm;
}

.f-gap-lg {
  gap: $--tbd-gap-lg;
}

.flex-1 {
  flex: 1;
}

/* TODO: Переписать это уёбство с циклом */
h1 {
  font-size: $--tbd-font-sz--h1;
}
h2 {
  font-size: $--tbd-font-sz--h2;
}
h3 {
  font-size: $--tbd-font-sz--h3;
}
h4 {
  font-size: $--tbd-font-sz--h4;
}
h5 {
  font-size: $--tbd-font-sz--h5;
}
h6 {
  font-size: $--tbd-font-sz--h6;
}

.text-center {
  text-align: center;
}

/* TODO: Переписать это уёбство с циклом */
.mt-1 {
  margin-top: $--tbd-padding;
}
.mt-2 {
  margin-top: $--tbd-padding-x2;
}
.mt-3 {
  margin-top: $--tbd-padding-x3;
}
.mt-4 {
  margin-top: $--tbd-padding-x4;
}
.mt-5 {
  margin-top: $--tbd-padding-x5;
}
.mt-6 {
  margin-top: $--tbd-padding-x6;
}
.mt-7 {
  margin-top: $--tbd-padding-x7;
}
.mt-8 {
  margin-top: $--tbd-padding-x8;
}
.mt-9 {
  margin-top: $--tbd-padding-x9;
}
.mt-10 {
  margin-top: $--tbd-padding-x10;
}
.mt-11 {
  margin-top: $--tbd-padding-x11;
}
.mt-12 {
  margin-top: $--tbd-padding-x12;
}

.page {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  background-color: #FAFAFF;

  overflow-y: scroll;

  @extend .f-col;

  & > *:first-child {
    width: 100%;
    height: 100%;
  }
}